################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PinedaAppBE/.vs
/PinedaAppBE/PinedaApp/bin/Release/net8.0/publish
/PinedaAppBE/PinedaApp/obj/Release/net8.0/PubTmp/Out
/PinedaAppBE/PinedaApp/wwwroot/
